# Dependências
node_modules/
dist/
build/

# Variáveis de ambiente (IMPORTANTE: Nunca suba suas chaves da Nuvemshop!)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e sistema
.vscode/
.DS_Store
/src/generated/prisma
